<div id="gallery-item-show">
	<div class="piece-media"><%=piece.mediaHtml({show: true})%> </div>

	<div class="s-piece-info-wrapper">
		<div class="title-and-artist">
			<div class="s-piece-title"><%=piece.escape('title')%></div>
			<div class="s-piece-artist"><%= piece.escape('artist_fname')%> <%=piece.escape('artist_lname')%></div>
		</div>
		<div class="s-piece-statement"><%= piece.escape('statement')%></div>
	</div>
</div>
