<ul class="gallery-item">
	<img src="<%=piece.image.escape('url')%>">
	<div class="piece-title"><%=piece.escape('title')%></div>
	<div class="piece-artist"><%= piece.escape('artist_fname')%> <br> <%= piece.escape('artist_lname')%></div>
	<div class="piece-statement"><%= piece.escape('statement')%></div>
</ul>