<!DOCTYPE html>
<html>
<head>
  <title>Locus</title>
  <link rel="shortcut icon" href="http://81artists.com/jakemcintyre/_images/black-square-1000px.jpg">
  <script type="text/javascript" src="http://api.filepicker.io/v1/filepicker.js"></script>
  <script src="http://vjs.zencdn.net/4.10/video.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag('packery.pkgd.js') %>
  <%= javascript_include_tag('imagesloaded.pkgd.js') %>
  <script src="http://vast-engineering.github.io/jquery-popup-overlay/jquery.popupoverlay.js"></script>
</head>
<body>
	<%= yield %>
	<script type="text/javascript">
		window.fp_key = '<%= ENV['FILEPICKER_API_KEY'] %>';
	</script>

</body>
</html>
